DB_HOST=your-neon-host.neon.tech
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=neondb
DB_SSL=true

JWT_SECRET=your_jwt_secret

PORT=5009

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
